<div class="container-fluid page-body-wrapper">

    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tambah Peminjam</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/item">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tambah Item</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tambah User</span>
            </a>
        </li>
    </nav>
    <!-- partial -->